# Ignore Temporary and Text Editor Swap Files
*.swp
*~

# Ignore Object Files and Executables
*.o
*.obj
*.exe
*.out

# Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
